body{
	font-family: 'Montserrat', sans-serif; 
	text-align: center;
}

.wrapper{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

#main {
	background: #ededee;
	overflow:auto;
	padding: 10px;
}

#title{
	/*background: orange;*/
	margin-top: 20px;
}

#title p{
	margin: 0;
	line-height: 1.6;
}

#img-div{
	background: white;
	margin-top: 1.5vw;
	padding: 20px;
}

img{
	max-width: 100%;
	display: block;
	height: auto;
}

img.center{
	margin: 0 auto;
}

#img-caption{
	/*background: green;*/
	padding-top: 10px;
}

#tribute-info{
	/*background: blue;*/
}

#tribute-link{
	/*background: violet;*/
}