*, *:before, *:after {
	/*border: .018px dashed green;*/
	box-sizing: border-box;	
}

/**{
	outline: 1px solid grey;
}
*/
body{
	/*font-family: 'Montserrat', sans-serif; */
	text-align: center;
	line-height: 1.4;
}

.wrapper{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

#main {
	background: #ededee;
	overflow:auto;
	padding: 10px;
}

#title{
	/*background: orange;*/
	margin-top: 20px;
}

#title p{
	margin: 0;
	line-height: 1.6;
}

#img-div{
	background: white;
	margin-top: 1.5vw;
	padding: 20px;
}

#img-div a{
	display: inline-block;
}

img{
	max-width: 100%;
	display: block;
	height: auto;
}

.center{
	margin: 0 auto;
}

#img-caption{
	/*background: green;*/
	padding-top: 10px;
}

#tribute-info{
	display: flex;
}

#tribute-link{
}


/*START row-1 */
#row-1{
	display: flex;
	flex-wrap: wrap;
}

blockquote{
	text-align: left;
}

#row-1 .quote-container{
	flex: 2;
	width: 900px;
	min-width: 260px;
}

#row-1 .pic-div{
	flex: 1;
	display: flex;
	vertical-align: middle;
}

.pic-div{
	min-width: 170px;
}

#row-1 .pic-div img{
	height: 100%;
	width: 100%;
	object-fit: contain;
	vertical-align: middle;
}


/*START row-2 */
#row-2{
	/*border: 2px dashed red;*/

	position: relative;
	/*height: 330px;*/
	/*line-height: 330px;	*/
	/*font-size: 0;*/
	/*line-height: normal;*/
	/*text-align: center;*/
}

#row-2::before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	/*width:1%;*/
}

/*#row-2 *{
	border: 1px solid hotpink;	
}
*/

#row-2 .quote-container{
	display: inline-block;
	width: 33.3%;
	
	vertical-align: middle;

}


#row-2 .pic-div{
	display: inline-block;
	width: 33.3%;

	vertical-align: middle;
}

